:root {
  #dark {
		--lighter: #CBD6F0;
		--accent: #6484cd;
		--background-primary: #0A0D14;
		--background-secondary: #141A29;
		--background-secondary-alt: #141A29;
		--foreground-primary: #a8b5c3;	
		--purple: #492dd5ec;
	}
	#light {
		--lighter: #0A0D14;
		--accent: #1f3eb8;
		--background-primary: #f3f7ff;
		--background-secondary: #CBD6F0;
		--background-secondary-alt: #CBD6F0;
		--foreground-primary: #141A29;
		--purple: #492dd5ec;
	}
}

body {
  background-color: var(--background-primary);
  color: var(--accent);
  font-family: Rajdhani, sans-serif;
  margin: 0;
  padding: 0;
  display: block;
  align-items: center;
  justify-items: center;
  transition: background-color 1s ease-in-out;
}

.container {
  position: relative;
  display: flex;
  flex-direction: column;
  top: 0;
  width: 100vw;
  height: 95vh;
  overflow: hidden;
  margin: 0 auto;
  padding: 20px;
  background-color: var(--background-primary);
  color: var(--accent);
  transition: background-color 1s ease-in-out;
}

.bar {
  position: relative;
  width: 100vw;
  display: inline-flex;
  flex-direction: row;
  align-items: center;
  justify-items: center;
  background-color: var(--background-primary);
  transition: background-color 1s ease-in-out;
}
.right {
  position: absolute;
  right: 2%;
}
.ic {
  margin-right: 1vw;
  width: 30px;
  height: 30px;
  border-radius: 50%;
}
h1 {
  font-family: 'Rajdhani';
  font-size: 24px;
  margin-bottom: 20px;
  margin: 0;
  width: 50vw;
  padding: 10px 5px;
}

.first-container {
  position: relative;
  margin-bottom: 20px;
  top: 5%;
  width: 100vw;
  height: 18vh;
  display: flex;
  flex-direction: row;
  justify-content: left;
}
.input-container {
  position: relative;
  margin-bottom: 20px;
  top: 10%;
  width: 50vw;
  height: 18vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.dateform {
  position: relative;
  display: flex;
  flex-direction: column;
}
.buttonbar {
  position: relative;
  top: 0.5em;
  height: 40px;
}
.result {
  right: 0;
}
.result-container {
  top: 10%;
  position: relative;
  width: 40vw;
  height: 30vh;
  border-radius: 0.5em;
  padding: 10px 10px;
  border: 1px var(--accent) solid;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.saveform {
  position: absolute;
  top: 50vh;
  width: 50vw;
}
text {
  font-size: 20px;
}

label {
  display: block;
  margin-bottom: 5px;
}
button {
  border-radius: 0.2em;
  font-size: 16px;
  width: auto;
  cursor: pointer;
}

.sbutton {
  margin-left: 0.5em;
  border-radius: 0.2em;
  font-size: 16px;
  width: auto;
  cursor: pointer;
}

.tinput,
.date-input {
  width: 50%;
  padding: 10px;
  font-size: 16px;
  border: 2px solid var(--accent);
  background-color: var(--background-primary);
  color: var(--text-color-light);
  border-radius: 0.2rem;
}
.tinput {
  width: 50%;
}

.savedlist {
  position: relative;
  top: 25vh;
  width: 80vw;
  border-radius: 0.5em;
  padding: 3px 20px;
  border: 1px solid;
}
