:root {
  font-family: "Rajdhani sans";
  #dark {
		--lighter: #CBD6F0;
		--accent: #6484cd;
		--background-primary: #0A0D14;
		--background-secondary: #141A29;
		--background-secondary-alt: #141A29;
		--foreground-primary: #a8b5c3;	
		--purple: #492dd5ec;
	}
	#light {
		--lighter: #0A0D14;
		--accent: #1f3eb8;
		--background-primary: #f3f7ff;
		--background-secondary: #CBD6F0;
		--background-secondary-alt: #CBD6F0;
		--foreground-primary: #141A29;
		--purple: #492dd5ec;
	}
}

body {
  background-color: var(--background-primary);
  color: var(--accent);
  transition: background-color 1s ease-in-out;
  
}

.container {
  position: relative;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100vw;
  height: 100vh;
  overflow-y: scroll;
  margin: 0 auto;
  padding: 30px;
  background-color: var(--background-primary);
  color: var(--accent);
  transition: background-color 1s ease-in-out;
}

.setup-container {
  position: relative;
  width: 90vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border: 1px var(--accent) solid;
  border-radius: 0.5em;
  padding-bottom: 30px;
}

.form-container {
  position: relative;
  top: 1%;
  left: 0;
  right: 0;
  width: 40vw;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  border: 5px var(--lighter) solid;
  border-radius: 0.5em;
}
.bar {
  top: 0;
  width: 40vw;
  background-color: var(--background-primary);
  transition: background-color 1s ease-in-out;
  border: 1px var(--accent) solid;
}
.gheader {
  font-size: 16px;
  font-weight: 800;
  letter-spacing: 3px;
}
.right {
  align-items: right;
  justify-items: right;
}
.dateform {
  width: 40vw;
  display: flex;
  flex-direction: column;
}
.dateinput {
  width: 100%;
  padding: 10px;
  font-size: 16px;
  border: 2px solid var(--accent);
  background-color: var(--background-primary) !important;
  color: var(--text-color-light);
  border-radius: 0.2rem;
}

.result-container {
  position: absolute;
  top: 1%;
  right: 0;
  width: 20vw;
  height: auto;
  border-radius: 0.5em;
  margin-left: 10px;
  padding: 10px 10px;
  border: 1px var(--accent) solid;
  display: flex;
  flex-direction: column;
  align-items: center;
}





.saveform {
  position: relative;
  width: 50vw;
  margin-top: 2%;
  display: inline-flex;
  flex-direction: column;
  align-items: center;
  justify-content: left;
}
.buttonbar {
  position: relative;
  top: 0.5em;
  height: 40px;
}

.listbuttonbar {
  margin: 5px;
  width: 90%;
  display: inline-flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

button {
  border-radius: 0.2em;
  font-size: 16px;
  width: auto;
  cursor: pointer;
}

.sbutton {
  display: inline-flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
  margin: 0.7em;
  border-radius: 0.2em;
  font-size: 16px;
  width: 5em;
  height: 2em;
  cursor: pointer;
  color: var(--lighter);
  background-color: var(--background-secondary);
  border: 1px solid var(--accent);
  
}

.tinput {
  width: 100%;
  padding: 10px;
  font-size: 16px;
  border: 2px solid var(--accent);
  background-color: var(--background-primary) !important;
  color: var(--text-color-light);
  border-radius: 0.2rem;
}
.tinput {
  width: 50%;
}

.list-container {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: var(--background-secondary);
}
.savedlist {
  width: 80vw;
  border-radius: 0.5em;
  padding: 3px 20px;
  border: 1px solid;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-bottom: 20px;
}

.savedtable {
  width: 60vw;
  display: inline-flex;
  flex-direction: column;
  align-items: center;
  border: 1px solid var(--accent);
  border-radius: 0.5em;
  margin-bottom: 20px;
}
table {
  margin: 20px;
  padding: 20px;

}
th {
  text-align: left;
  width: 20vw;
}
td {
  cursor: pointer;
}
.mainrow {
  border: 1px solid var(--accent);
  border-radius: 0.5rem;
}